<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CafeManagementSystem.Properties.Settings.cafe1ConnectionString"
            connectionString="Data Source=DESKTOP-B92AG2K\SQLEXPRESS;Initial Catalog=cafe1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>